/* src/styling/projectCard.css */
.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 300px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin: 0 0 8px 0;
  color:   #6a5acd;
  
}

.card-text {
  font-size: 1rem;

  margin: 0 0 16px 0;
}

.project-details {
  margin: 16px 0;
}

.project-details p {
  margin: 8px 0;
  font-size: 0.9rem;
 
}



.language-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.language-item {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #9370db;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.project-links {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}


.card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  background: #f8f9fa;
  border-top: 1px solid #ddd;
}

.card-button {
  background: none;
  border: none;
  cursor: pointer;
  color:#9370db;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button:hover {
  color: #9370db;
  transition: background-color 0.9s ease-in-out;
}
.card-image.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  
  
  font-size: 1.2em;
}